mixin comment(commentData)
    .comment
        if commentData.postedByAdmin
            em (Posted by Admin)
        .date= commentData.date
        .author= commentData.author
        .text= commentData.text

doctype html 
html 
    head 
        title Condionals in Pug
        style.
            .comment{
                font-family: sans-serif;
                line-height: 1.5;
                padding: 10px;
                border: 1px solid #555;
                width: 250px;
            }

            .date{ font-size: 85%; text-align: right}
            .author { font-size: 110%; font-weight: bold;}
            .text{font-size: 100%}
    body    
        include includes/nav

        div 
            h1 Welcome to the comments section

        - const c = {postedByAdmin: true, date: '04-02-2018', author: 'Seye' , text: 'Hey Mate Great Code'}
        +comment(c)
        - const se = { date: '01-09-2025', author: 'Family, Friends, Myself to the mirror' , text: 'Happy Birthday Seye, and Congrats on that 6 figure offer'}
        +comment(se)